{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="post" enctype="multipart/form-data">
    <label for="avatar">
      <img src="/images/avatar.svg" alt="Avatar input" />
    </label>

    <input type="file" name="avatar" id="avatar" />
    <input type="text" name="name" id="name" placeholder="Seu nome" />
    <input type="email" name="email" id="email" placeholder="Seu e-mail" />
    <input type="password" name="password" id="password" placeholder="Sua senha" />

    <label for="prodiver">
      <input type="checkbox" name="provider" id="provider" value="1" />
      Sou cabelereiro.
    </label>

    <button type="submit">Criar</button>

    <a href="/">Já sou cadastrado</a>
  </form>

  <script type="text/javascript" >
    const avatarInput = document.getElementById("avatar");
    const imgAvatar = document.querySelector("label[for=avatar] img")

    avatarInput.onchange = function(e){
      imgAvatar.classList.add('preview');
      imgAvatar.src = URL.createObjectURL(e.target.files[0])
    }

  </script>
{% endblock %}
